/* LAYER PALING ATAS */
.modal {
  display: none !important;
  position: fixed !important;
  z-index: 999999 !important;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
}

/* BOX MODAL */
.modal-content {
  background: #fff;
  width: 400px;
  padding: 20px;
  margin: 10% auto;
  border-radius: 10px;

  position: relative;
  z-index: 1000000 !important;

  animation: fadeIn 0.3s ease;
}

/* TOMBOL CLOSE */
.close-btn {
  float: right;
  font-size: 22px;
  cursor: pointer;
  color: #333;
}

/* TOMBOL UPDATE */
.btn-submit {
  margin-top: 15px;
  width: 100%;
}

/* ANIMASI */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
